html 
{text-align:center;
background-color: #000000;}


h1 
{color:#cc0000;
font-size: 34pt;
font-family: Fantasy;
text-shadow: 4px 4px #660000;}


div 
{display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
background-color: #cc0000;
color: #000000;
font-family: Helvatica;
font-size: 13pt;}


img
{width: 460px;
height: 230px;}


h2
{color:#cc0000;
font-family: Fantasy;}


table 
{width:100%;}

th,td
{text-align: center; padding: 6px;} 


details
{ color:#660000;
    font-family: Helvatica;
    font-size: 13pt;}

a
{color:#928f8f;}


iframe 
{width:460px;
height:230px;}


@media only screen and (min width: 600px) 
{   
    h1 
    {font-size: 22pt;
    text-shadow: 2px 2px #660000;}
    
    
    div 
    {font-size: 12pt;}
    
    
    img
    {width: 50px;
    height: 25px;}
    
    
    details
    {font-size: 12pt;}
    
    
    iframe 
    {width: 50px;
    height: 25px;}
}
  
